
# Mac Files
.DS_Store
Source/CUTeR Arm Simulator v2/Library/
Source/CUTeR Arm Simulator v2/Logs/
Source/CUTeR Arm Simulator v2/Temp/
*.csproj
*.apk
Source/CUTeR Arm Simulator v2/UserSettings/Layouts/default-6000.dwlt
